/* author: Jakub Rozkosz */

.navbar-container {
  position: relative;
  background-color: #333;
}

.navbar {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 100px;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.navbar-item {
  margin: 0;
}

.navbar-item a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.navbar-item a:hover {
  background-color: #575757;
  border-radius: 4px;
}

.navbar-logout-button {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.navbar-logout-button button {
  background-color: #f44336;
  color: white; 
  border: none;
  padding: 1px 2px;
  cursor: pointer;
  border-radius: 4px;
  width: 60px;
  height: 30px;
}

.navbar-logout-button button:hover {
  background-color: #e53935;
}
